<div ng-controller="replaceme.todo.ListController">
    <br><br>

    <table>
        <tr>
            <td><input type="text" ng-model="query" /></td>
            <td><input type="text" ui-date="datepickerOptions" ui-date-format="dd-mm-yy" ng-model="myDate"  /></td>
            <td>{{myDate}}</td>
        </tr>
    </table>

    <br><br>

    <tabs>
        <pane heading="Tab 1">
            <div ng-controller="replaceme.todo.Tab1Controller">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>What To Do</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="todo in todoList | filter:query">
                        <td>
                            <p ng-click="toggleEditSubject($index, $event)"
                               ng-show="!isSubjectEditing($index)"
                               ng-hide="isSubjectEditing($index)">
                                {{todo.subject}}
                            </p>

                            <input type="text"
                                   ng-focus="isSubjectEditing($index)"
                                   ng-blur="toggleEditSubject($index, $event)"
                                   ng-model="todo.subject"
                                   ng-show="isSubjectEditing($index)"
                                   ng-hide="!isSubjectEditing($index)" />
                        </td>
                        <td>{{todo.whatToDo}}</td>
                    </tr>
                </table>
            </div>
        </pane>
        <pane heading="Tab 2">
            <div ng-controller="replaceme.todo.Tab2Controller">
                {{message}}
            </div>

        </pane>
    </tabs>


</div>