<div class="span9">

    <div class="span4 offset3">

        <form class="form-signin" ng-submit="login()">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" class="input-block-level" placeholder="user@company.com" required ng-model="userName">
            <input type="password" class="input-block-level" placeholder="Password" required ng-model="password">
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>

    </div>
</div>